.header {
    position: absolute;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_plus_navbar {
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 635px) {
    .logo_plus_navbar {
        flex-direction: column;
    }
}

.logo > img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
}

.element_navbar {
    display: flex;
    gap: 40px;
    list-style-type: none;
    font-size: 20px;
}

@media (max-width: 635px) {
    .element_navbar {
        font-size: 14px;
        padding-left: 0;
    }
}

#categorie_navbar {
	position: relative;
	color: white;
	text-decoration: none;
    font-family: GT-Walsheim; 
	&:hover {
		color: white;
		&:before {
			visibility: visible;
			transform: scaleX(1);
		}
	}
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: white;
		visibility: hidden;
		transform: scaleX(0);
		transition: all 0.3s ease-in-out 0s;
	}
}

.horizontal_bar_navbar {
    background-color: white;
    height: 2px; 
    width: 45%; 
}

@media (max-width: 635px) {
    .horizontal_bar_navbar {
        width: 100%;
    }
}

/* MAIN HOMEPAGE HEADER----------------------------------------------------------------------------------- */

.background_image_homepage_header {
    width: 100%;
    height: 815px;
    background-image: url("../images/projetpage/image_header.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
}

.container_main_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage {
    text-align: center;
}

.title_homepage {
    font-family: "Migra";
    color: white;
    font-size: 27px;
}

.title_homepage > h1 {
    margin-top: 290px;
    margin-bottom: 0.67em;
}

@media (max-width: 635px) {
    .title_homepage {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.button_decouvrir_homepage {
    font-family: "GT-Walsheim";
    width: 150px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    color: black;
    background-color: white;
    font-size: 25px;
    padding: 10px 10px 10px 10px;
    transition-duration: 0.3s;
}

.button_decouvrir_homepage:hover {
    background-color: black;
    color: white;
}

/* MAIN PROJETS----------------------------------------------------------------------------------- */

main {
    background-color: #121D31;
}

.container_main_projet {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}

.gallerie_projet {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: "GT-Walsheim";
}

@media (max-width: 685px) {
    .gallerie_projet {
        gap: 130px;
    }
}

img {
    width: 100%;
    height: 100%;
}

h2 {
    text-align: center;
}

/* GALLERIE D'IMAGE UNE----------------------------------------------------------------------------------- */


.presentation_image_une {
    display: flex;
    gap: 50px;
    width: 100%;
}

@media (max-width: 685px) {
    .presentation_image_une {
        flex-direction: column-reverse;
        align-items: center;
    }
}


.title_image_une {
    display: flex;
    align-items: center;
    width: 50%;
    text-align: center;
}

@media (max-width: 685px) {
    .title_image_une {
        width: 100%;
    }
}

.image_une {
    width: 50%;
    border: 2px solid white;
}

@media (max-width: 685px) {
    .image_une {
        width: 100%;
    }
}

/* GALLERIE D'IMAGE DEUX----------------------------------------------------------------------------------- */


.presentation_image_deux {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    width: 100%;
}

@media (max-width: 685px) {
    .presentation_image_deux {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.title_image_deux {
    display: flex;
    align-items: center;
    width: 50%;
}

@media (max-width: 685px) {
    .title_image_deux {
        width: 100%;
    }
}

.image_deux {
    width: 50%;
    border: 2px solid white;
}

@media (max-width: 685px) {
    .image_deux {
        width: 100%;
    }
}

/* GALLERIE D'IMAGE TROIS----------------------------------------------------------------------------------- */


.presentation_image_trois {
    display: flex;
    gap: 50px;
    width: 100%;
}

@media (max-width: 685px) {
    .presentation_image_trois {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.title_image_trois {
    display: flex;
    align-items: center;
    width: 50%;
}

@media (max-width: 685px) {
    .title_image_trois {
        width: 100%;
    }
}

.image_trois {
    width: 50%;
    border: 2px solid white;
}

@media (max-width: 685px) {
    .image_trois {
        width: 100%;
    }
}

/* GALLERIE D'IMAGE QUATRE----------------------------------------------------------------------------------- */

.presentation_image_quatre {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    width: 100%;
}

@media (max-width: 685px) {
    .presentation_image_quatre {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.title_image_quatre {
    display: flex;
    align-items: center;
    width: 50%;
}

@media (max-width: 685px) {
    .title_image_quatre {
        width: 100%;
    }
}

.image_quatre {
    width: 50%;
    border: 2px solid white;
}

@media (max-width: 685px) {
    .image_quatre {
        width: 100%;
    }
}

/* GALLERIE D'IMAGE CINQ----------------------------------------------------------------------------------- */

.presentation_image_cinq {
    display: flex;
    gap: 50px;
    width: 100%;
    margin-bottom: 30px;
}

@media (max-width: 685px) {
    .presentation_image_cinq {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.title_image_cinq {
    display: flex;
    align-items: center;
    width: 50%;
}

@media (max-width: 685px) {
    .title_image_cinq {
        width: 100%;
    }
}

.image_cinq {
    width: 50%;
    border: 2px solid white;
}

@media (max-width: 685px) {
    .image_cinq {
        width: 100%;
    }
}

/* FOOTER ----------------------------------------------------------------------------------- */

body {
    background-color: #FFC3B6;
}

footer {
    width: 100%;
    height: 95px;
    background-color: #FFC3B6;
    margin-top: 0;
}

.footer_div {
    font-family: GT-Walsheim;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.copyright {
    color: black;
}

.reseaux_footer {
    font-size: 20px;
    display: flex;
    gap: 10px;
}

#lien_reseaux {
    color: black;
    transition-duration: 0.3s;
}

#lien_reseaux:hover {
    color: white;
}

.copyright_reseaux_buttoncontact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_contact_footer {
    font-family: "GT-Walsheim";
    border: none;
    border-radius: 30px;
    color: white;
    background-color: black;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    transition-duration: 0.3s;
}

@media (max-width: 635px) {
    .button_contact_footer {
        font-size: 11px;
    }
}

.button_contact_footer:hover {
    background-color: white;
    color: black;
}