.header {
    position: absolute;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_plus_navbar {
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 635px) {
    .logo_plus_navbar {
        flex-direction: column;
    }
}

.logo > img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid black;
}

.element_navbar {
    display: flex;
    gap: 40px;
    list-style-type: none;
    font-size: 20px;
}

@media (max-width: 635px) {
    .element_navbar {
        font-size: 14px;
        padding-left: 0;
    }
}

#categorie_navbar {
	position: relative;
	color: black;
	text-decoration: none;
    font-family: GT-Walsheim; 
	&:hover {
		color: black;
		&:before {
			visibility: visible;
			transform: scaleX(1);
		}
	}
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: black;
		visibility: hidden;
		transform: scaleX(0);
		transition: all 0.3s ease-in-out 0s;
	}
}

.horizontal_bar_navbar {
    background-color: black;
    height: 2px; 
    width: 45%; 
}

@media (max-width: 635px) {
    .horizontal_bar_navbar {
        width: 100%;
    }
}

/* MAIN HOMEPAGE HEADER----------------------------------------------------------------------------------- */

.background_image_homepage_header {
    width: 100%;
    height: 815px;
    background-image: url("../images/contact/wallpaperflare.com_wallpaper\ \(5\).jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
}

.container_main_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage {
    text-align: center;
}

.title_homepage {
    font-family: "Migra";
    color: black;
    font-size: 27px;
}

.title_homepage > h1 {
    margin-top: 290px;
    margin-bottom: 0.67em;
}

@media (max-width: 635px) {
    .title_homepage {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.button_decouvrir_homepage {
    font-family: "GT-Walsheim";
    width: 150px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    background-color: black;
    font-size: 25px;
    padding: 10px 10px 10px 10px;
    transition-duration: 0.3s;
}

.button_decouvrir_homepage:hover {
    background-color: white;
    color: black;
}

/* FORMULAIRE DE CONTACT----------------------------------------------------------------------------------- */

body {
    background-color: #FFC3B6;
}

.formulaire_de_contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-family: GT-Walsheim;
    background-color: #FFC3B6;
}

.formulaire {
    display: flex;
    flex-direction: column;
    width: 40%;
}

@media (max-width: 635px) {
    .formulaire {
        width: 90%;
    }
}

input {
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 30px;
}

input[type="submit"] {
    border: none;
    border-radius: 30px;
    font-size: 5px;
    width: 30%;
    color: white;
    background-color: black;
    font-size: 25px;
    padding: 10px 10px 10px 10px;
    transition-duration: 0.3s;
}

@media (max-width: 635px) {
    input[type="submit"] {
        font-size: 15px;
    }
}

input[type="submit"]:hover {
    background-color: white;
    color: black;
}

textarea {
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 10px;
}

label {
    margin-bottom: 5px;
}

/* LIGNE SEPARATION FORMULAIRE - FOOTER ----------------------------------------------------------------------------------- */

.hr_formulaire_footer {
    width: 100%;
    height: 1px;
    background-color: black;
}

/* FOOTER ----------------------------------------------------------------------------------- */

body {
    background-color: #FFC3B6;
}

footer {
    width: 100%;
    height: 95px;
    background-color: #FFC3B6;
    margin-top: 0;
}

.footer_div {
    font-family: GT-Walsheim;
    margin-left: 20px;
}

.copyright {
    color: black;
}

.reseaux_footer {
    font-size: 20px;
    display: flex;
    gap: 10px;
}

#lien_reseaux {
    color: black;
    transition-duration: 0.3s;
}

#lien_reseaux:hover {
    color: white;
}
